body {
  background: #f0f0f6;
  margin: 0;
}

body > .portfolio {
  display: flex;
  justify-content: space-between;
}

.portfolio > .left-sidebar {
  background: #fafafa;
  box-shadow: 4px 0px 10px rgba(47, 122, 249, 0.1);
  padding: 50px 45px 50px 40px;
}

.portfolio > .right-sidebar {
  background: #fafafa;
  box-shadow: 4px 0px 10px rgba(47, 122, 249, 0.1);
  padding: 50px 39px;
}

.portfolio > .content {
  margin: 0 30px;
}

.portfolio > .left-sidebar > .developer-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 25px;
  border-bottom: 1.5px solid #f0f0f6;
  margin-bottom: 25px;
}

.portfolio > .left-sidebar > .developer-info-1 > .information {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.portfolio > .left-sidebar > .developer-info-1 > .information > .key {
  background-color: #ffb400;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #2b2b2b;
  text-transform: capitalize;
  padding: 0 5px;

  margin: 0;
}

.portfolio > .left-sidebar > .developer-info-1 > .information > .value {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  text-align: right;
  text-transform: capitalize;
  color: #2b2b2b;
  margin: 0;
}

.portfolio > .left-sidebar > .developer-info-1 > .information > .value.green {
  color: #7eb942;
}

.developer-info > .profile-image {
  position: relative;
  margin-bottom: 31px;
}

.developer-info > .profile-image > .green-circle {
  width: 16px;
  height: 16px;
  background: #7eb942;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  border-radius: 8px;

  position: absolute;
  bottom: 18px;
  right: 10px;
}

.developer-info > .developer-name {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 123.6%;
  color: #2b2b2b;
  margin-bottom: 15px;
  text-align: center;
}
.developer-info > .developer-role {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  text-transform: capitalize;
  color: #767676;
  text-align: center;
}

.developer-info > .social-links > i:not(:last-child) {
  margin-right: 15px;
}

.developer-info > .social-links > i {
  background: #ffb400;
  padding: 10px;
  font-size: 14px;
  border-radius: 17px;
}

.portfolio > .content {
}

.portfolio > .right-sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.right-sidebar i.fa-solid {
  font-size: 18px;
  padding: 11px;
  color: #767676;
}

.right-sidebar > .nav-menu:not(:last-child) {
  margin-bottom: 43px;
}

.right-sidebar .fa-moon {
  box-sizing: border-box;
  margin-bottom: 170px;
  background: #2b2b2b;
  font-size: 18px;
  padding: 11px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.right-sidebar > .nav-menu .tooltip {
  display: none;
}

.right-sidebar > .nav-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background: #f0f0f6;
  width: 40px;
  height: 40px;
  border-radius: 20px;
}

.tooltip {
  margin: 0;
  position: absolute;
  background: #2b2b2b;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #ffffff;
  border-radius: 2px;
  padding: 6px 15px;
  top: -38px;
  white-space: nowrap;
}

.tooltip::before {
  content: " ";
  position: absolute;
  bottom: -6px;
  left: calc(50% - 6px);
  border: 6px solid transparent;
  background: transparent;
  border-right-color: #2b2b2b;
  border-bottom-color: #2b2b2b;
  transform: rotate(45deg);
}

.nav-menu:hover {
  background: #ffb400;
  cursor: pointer;
}

.nav-menu:hover i {
  color: #2b2b2b;
}

.nav-menu:hover .tooltip {
  display: block;
}
